# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Models =====
models/

# ===== Virtual environment =====
.venv/
venv/

# ===== Data =====
dataset/
labels.csv

# ===== Notebooks =====
.ipynb_checkpoints/

# ===== Reports / generated outputs =====
reports/*
!reports/.gitkeep

# ===== OS / editor =====
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===== Misc =====
*.pkl
*.pt
*.npz
